/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}




/* MAIN.CSS */

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Cormorant Garamond', serif;
}

.container{
    overflow-x: hidden;
}

section{
    min-width: 100vw;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}


/* NAVIGATION */

.nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    top: 2vw;
    z-index: 999;
}

.nav div{
    padding: 2.5px;
}



/* HERO */

section.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero img{
    width: 25vw;
    
}

.hero-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-video{
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.hero-video video{
    width: 100%;
}

.hero-text{
    padding-top: 15px;
    font-size: 1em;
    width: 30vw;
}


/* PROJECTS */

.project-list{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    padding-top: 7vh;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50vh;
}

.project-image{
    width: 50vw;
}

.project-image img{
    width: 100%;
}

.project-image video{
    width: 100%;
}

.project-title{
    font-size: 10vh;
    font-weight: 600;
}

.project-more{
    font-size: 5vh;
}

/* PROJECT PAGES */




.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-heading{
    padding-bottom: 10vh;
}

.projects-heading p{
    font-size: 4em;
}

.projects-heading sub{
    font-size: 3em;
}

.projects-description{
    max-width: 30vw;
    font-size: 1.2em;
    line-height: 1.3em;
    padding-bottom: 10vh;
}

.projects-description i{
    font-size: 1.2rem;
}

.projects-image-container{
    width: 70vw;
    padding-bottom: 10vh;
}

.projects-hero-container{
    height: 100%;
    width: 100%;
    margin-bottom: 10vh;
}

.projects-hero-container video{
    width: 100%;
}


.projects-image-container img{
    width: 100%;
}

.projects-image-container video{
    width: 100%;
}

.fullscreen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    
}

.fullscreen iframe{
    width: 100%;
    height: 100%;
}

.projects-footer{
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-end;

    font-size: 10vh;
}


.footer-nav{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

/* WORK */

.work{
    padding-top: 1vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10vh;
}

.work-image{
    width: 30vw;
}

.work-image img{
    width: 100%;
}

.work-image video{
    width: 100%;
}

.work-title{
    font-size: 5vh;
    font-weight: 600;
    margin-bottom: 20px;
}

/* CONTACT */

section.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2{
    font-size: 1.8rem;
}



.contact-info img{
    width: 5%;
    transform: rotate(90deg);
}


/* FOOTER */

footer{
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}