body{
    font-family: 'Cormorant Garamond', serif;
    background-color: black;
    color: white;
}

.back{
    color: white;
}

iframe{
    width: 100%;
    height: 90vh;
    border: 1px solid rgb(54, 54, 54);
}

img{
    width:100%;
    border: 1px solid rgb(54, 54, 54);;

}