body{
    overflow: hidden;
}

#container{
    width: 100vw;
    height: 100vh;
    background-color: #fcdb63;
    text-align: center;
}

a{
    cursor: pointer;
}

.power{
    position: fixed;
    color: #FF5151;
    font-size: 2em;
    -webkit-text-stroke-color: #FF8ADE;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    padding: 14px 16px;
    animation: blink 3s 32s 5;

}

.power:hover{
    color: white;
}

@keyframes blink {
  0%   {color:white}
  25%  {color:#FF5151}
  50%  {color:white}
  75%  {color:#FF5151}
  100% {color:white}
}

.topnav {
  overflow: hidden;
  font-family: 'Fredoka One', cursive;

}

.topnav a {
  float: left;
  color: #FF5151;
  font-size: 2em;
  -webkit-text-stroke-color: #FF8ADE;
  -webkit-text-stroke-width: 1px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10vw;
}

.topnav a:hover {
  color: white;
}

.topnav a.active {

  color: #FF5151;
}

#inner{
    width: 40vw;
    position: absolute; 
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}


#welcome{
    width: 500px; 
    display: block; 
    margin: auto;
    padding-bottom: 30px;
}

#profilepic{
    width: 150px;
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

select{
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#option{
    border-style: solid;
    border-color: #FF8ADE;
    font-family: 'Fredoka One', cursive;
    color: #FF5151;
    width: 100px;
    display: block;
    border-radius: 10px;
    margin: auto;
    box-shadow: -3px 4px 0px 0px rgba(255, 177, 59, 1);
    background-color: white;
    text-indent: 24px;

}

#passcontainer{
margin-top: 10px;
}

#pass{
    border-color: #FF8ADE;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: -3px 4px 0px 0px rgba(255, 177, 59, 1);

}

#innerlower{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#login{
    border-color: #FF8ADE;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: -3px 4px 0px 0px rgba(255, 177, 59, 1);
    font-family: 'Fredoka One', cursive;
}

#quote{
    width: 500px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}




.window{
    position: absolute;
}


.box img{
    z-index: 2;
    width: 20vw;
}

.boxsmall img{
    z-index: 2;
    width: 15vw;
}

#a{
    display: none;
}

#b{
    display: none;
}

#c{
    display: none;
}

#d{
    display: none;
}

#e{
    display: none;
}

#f{
   display: none; 
}

#g{
   display: none; 
}

#h{
   display: none; 
}

#i{
   display: none; 
}

#j{
   display: none;
}

#k{
display: none;
}

