body{
    overflow: hidden;
}

#container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(25, 25, 25);
}

a{
    cursor: pointer;
}

.power{
    position: fixed;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 14px 16px;
    z-index: 2;
}

.power:hover{
    color: white;
}

.top{
    width: 100vw;
    height: 20vh;
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(255,255,255,0) 30%, rgb(25, 25, 25) 90%);
    pointer-events: none;
    z-index: 1;

}

.bottom{
    width: 100vw;
    height: 20vh;
    position: fixed;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(255,255,255,0) 30%, rgb(25, 25, 25) 90%);
    pointer-events: none;
    z-index: 1;

}

#inner{
    width: 50vw;
    height: 100vh;
    position: absolute; 
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto', sans-serif;
    opacity: 100;
    overflow: scroll;
}

#inner::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#inner {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#inner p{
    line-height: 2em;
}

.first{
    animation: shown 2s 0s forwards, deshown 2s 8s forwards;
    opacity: 0; 
    font-family: 'Roboto Condensed', sans-serif;
}

.second{
    animation: shown 2s 2s forwards;
    opacity: 0; 
    font-family: 'Roboto Condensed', sans-serif;
}

.third{
    animation: shown 2s 4s forwards, deshown 2s 8s forwards;
    opacity: 0; 
    font-family: 'Roboto Condensed', sans-serif;
}

.fourth{
    animation: shown 2s 10s forwards;
    opacity: 0; 
}

.fifth{
    animation: shown 2s 14s forwards;
    opacity: 0; 
}

.sixth{
    animation: shown 2s 16s forwards;
    opacity: 0; 
}

.seventh{
    animation: shown 2s 18s forwards;
    opacity: 0; 
}

.seventhsecond{
    animation: shown 2s 20s forwards;
    opacity: 0; 
}

.eigth{
    animation: shown 2s 22s forwards;
    opacity: 0; 
}

.ninth{
    animation: shown 2s 24s forwards;
    opacity: 0; 
}

.tenth{
    animation: shown 2s 26s forwards;
    opacity: 0; 
}

.eleventh{
    animation: shown 2s 28s forwards;
    opacity: 0; 
}
.twelfth{
    animation: shown 2s 30s forwards;
    opacity: 0; 
    font-family: 'Roboto Condensed', sans-serif;
}

.thirteenth{
    animation: shown 2s 34s forwards;
    opacity: 0; 
}


@keyframes shown{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes deshown{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
