body{
	font-family: helvetica;
	overflow: hidden;
}

#background{
	position: fixed;
	width: 100vw;
	height: 100vw;
	background-color: white;
}

.container{
	max-height: 100vh;
	width: 300vw;
}

.nav {
	position: fixed;
	padding: 10px;
	width: 100vw;
	height: 5vh;

}

.icon{
	width: 3vh;
	padding:0.5vh;
}

.middle{
	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
  	color: white;
  	padding: 16px;
  	color: black;
	text-decoration: none;
}

.middle a{
  	color: black;
	text-decoration: none;
}

.middle a:hover{
	color: rgb(141, 200, 215);
}

.block{

	position: absolute;
  	left: 50%;
 	top: 52.5%;
  	transform: translate(-50%, -50%);
  	width: 50vw;
  	height: 90vh;
  	overflow: scroll;
  	overflow: -moz-scrollbars-none;
  	-ms-overflow-style: none;
}

.block::-webkit-scrollbar { width: 0 !important }

#fadetop{
	z-index: 5;
	position: fixed;
	top:7%;
	width: 100vw;
	height: 10px;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 61%);
}

#fadebottom{
	position: fixed;
	bottom:0;
	width: 100vw;
	height: 45px;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 61%);
}

.firstbutton{
	padding: 5vh;
	color: black;
	background-color: white;
	text-decoration: none;


}

.leftblock{
	float: left;
	clear: both;
	margin-top: 1vh;
	padding: 2vh;
	text-align: left;
	color: black;
	background-color: white;
	text-decoration: none;
	line-height: 1.2em;
	display: block;
	max-width: 30vw;
}

#first{
	display: block;
}

.rightblock{
	float: right;
	clear: both;
	margin-top: 1vh;
	padding: 2vh;
	text-align: left;
	color: black;
	background-color: white;
	text-decoration: none;
	display: block;
	font-weight: bold;
	max-width: 30vw;


}

.response{
	position: absolute;
	left: 50%;
	bottom: 10vh;
 	transform: translateX(-50%);
	width: 50vw;
	height: 2vh;
 	padding: 2vh;
 	background-color: white;
	display: block;
}

.dropupcontainer{
	position: relative;
  	display: inline-block;
}

.dropupcontent{
	display: none;
  	position: absolute;
  	bottom:4vh;
}


.response:hover .dropupcontent {
  display: block;
}

.dropupcontent a{
	color: black;
	background-color: white;
	padding:1vh 2vh;
	margin-bottom: 1vh;
	text-decoration: none;
	display: block;
	font-style: italic;
	width: 100%;
}


/*.response{
	text-align: center;
	color: black;
	background-color: white;
	text-decoration: none;
	font-family: 'Balsamiq Sans', cursive;
}*/
