.blink {
	color: grey;
  animation: blink-animation 1s steps(3, start) infinite;
  -webkit-animation: blink-animation 1s steps(3, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#fade,#fade2,#fade3,#fade4,#fade5,#fade6,#fade7,#fade8{
	display: none;	
}

#finehide{
	display: none;
}

#goodhide{
	display: none;
}

#greathide{
	display: none;
}

#howhide{
	display: none;
}

#yeahide{
	display: none;
}

#nothide{
	display: none;
}


#neverhide{
	display: none;
}

#recenthide{
	display: none;
}

#itshide{
	display: none;
}

#onehide{
	display: none;
}

#twohide{
	display: none;
}

#threehide{
	display: none;
}

#shut{
	display: none;
}

#last {
	display: none;
}
