:root {
    --main-white: rgb(224, 224, 224);
    --main-black: rgb(20, 20, 30);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-white);
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    z-index: -1;
    width: 90vw;
    height: 80vh;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    border-width: 0px;
}

@font-face {
    font-family: "digit";
    src: url("digit.ttf");
}

#viz-select {
    z-index: 9;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -50%);
    background-color: rgb(186, 209, 209);
   
    font-family: "digit", Fallback, sans-serif;
    font-size: 0.5rem;
    text-shadow: 0px 2px 1.5px rgb(120, 165, 165);
}

p {
    font-size: 0.7rem;
    margin: 10px;
}

button {
    font-size: 0.7rem;
    display: block;
    padding: 7px;
    background-color: var(--main-white);
    color: var(--main-black);
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-black);
    border-radius: 4px;
    box-shadow: 0px 2px 0px #000000;
    margin: 10px;
}

button:active {
    box-shadow: 0px 0px 0px #000000;
}

input {
    margin: 10px;
    display: block;
    -webkit-appearance: none;
    height: 5px;
    background: var(--main-black);
    outline: none;
    opacity: 1;
    /* -webkit-transition: 0.2s;
    transition: opacity 0.2s; */
}
/* 
input:hover {
    opacity: 1;
} */

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 0px #000000;
    background: var(--main-white);
    cursor: pointer;
}

input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;
}
