body {
  max-width: 1000px;
  width: 60vw;
  margin: auto;
  font-family: monospace;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}

#container{
  background-color: white;
  padding: 10vh;
}


h1{
  font-style: italic;
  font-size: 1.5em;
  line-height: 2em;
}

body,
input,
textarea {
  font-size: 16px;
  text-align: left;
}

button {
  font-size: 14px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  height: 1000vh;
  padding: 10px;
  border: 0px;
  resize: none;
}